<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-bold"></h4>
        <div class="row">
          <div class="col-xs-6">
            <div class="container">
              <img  alt="" class="img-responsive" style="max-height: 100px;">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12 d-flex justify-content-end align-items-center">
                  <div class="d-flex">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger ml-2">Delete</button>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <p><strong>Email: </strong></p>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <p><strong>Phone: </strong></p>
            </div>
          </div>
    </div>
  </div>
</div>
  
  
