<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <h4 class="text-bold">Contacts</h4>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-success" [routerLink]="['new']">New Contact</button>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <cms-contact-item *ngFor="let contactEl of contacts" [contact]="contactEl" dnd-draggable [dragEnabled]="true"
        [dragData]="contactEl" [dropZones]="['contactGroup']"></cms-contact-item>
    </div>
  </div>
</div>